<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- MDB -->
    <link type="text/css" rel="stylesheet" href="{% static '/css/mdb.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Jquery -->
    <script src='{% static '/js/jquery-3.6.0.min.js' %}'></script>
    <script src="{% static 'jqueryui/jquery-ui.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'jqueryui/jquery-ui.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"
          integrity="EOQQAD7Fyueb25xfLqClMgQm9UNNO9JeZu4IyyDJi/U="/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/newstyle.css' %}"/>
    <!-- Mapbox -->
    <script src='{% static '/mapbox/mapbox-gl.js' %}'></script>
    <link href='{% static '/mapbox/mapbox-gl.css' %}' rel='stylesheet'/>
    <!-- Font Awesome -->
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet"/>


</head>

{% block content %}

{% endblock content %}



</html>