{% load static %}

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
     id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark w-100 h-100">
        <div class="d-flex align-items-center justify-content-center">
            <a href="/index">
                <img src="{% static '/logo1.svg' %}" alt="logo1" style="height:100%">
            </a>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" style="font-size: 1rem;" aria-current="page">
                    <i class="fa-regular fa-house bi me-2"></i>
                    <b>Home</b>
                </a>
            </li>
        </ul>
        <hr>
        <div class="drop down">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               id="dropdownUser1" data-mdb-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user rounded-circle me-2"></i>
                <strong>{{ fname }}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="/signout">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>
