{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Navigation Bar">
    <div class="container-xl">
        <a class="navbar-brand" href="#">
            <img src="{% static '/logo1.svg' %}" alt="logo1" style="height:80px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#liftNavBar"
                aria-controls="liftNavBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="liftNavBar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/test">TestPage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/booking">Book Ride</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
                <a class="btn btn-primary border-width-2 d-none d-lg-inline-block lift-button" href="/signout">LOGOUT</a>
            {% else %}
                <a class="btn btn-primary border-width-2 d-none d-lg-inline-block lift-button" href="/login">LOGIN</a>
            {% endif %}
        </div>
    </div>
</nav>