.lift-button{
  background-color: #39e991 !important;
  border-color: #39e991 !important;
}

.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}


.gradient-login-2 {
background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.chooseTime{
  
  background-color: #39e991 !important;
  border-color: #39e991 !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.chooseRide{
 
  background-color: #39e991 !important;
  border-color: #39e991 !important; 
}
