<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}" integrity="EOQQAD7Fyueb25xfLqClMgQm9UNNO9JeZu4IyyDJi/U=">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}" integrity="EOQQAD7Fyueb25xfLqClMgQm9UNNO9JeZu4IyyDJi/U=">
    <script src="{{ url_for('static', filename='/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/bootstrap/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">
    <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>

