{% extends 'base/main.html' %}
{% load static %}
{% block content %}

    <body>

    {% if request.user.is_authenticated %}

        <form action="" method="POST" id="test">
            {% csrf_token %}


            <div class="row">
                <div class="card mx-auto fixed-top col-md-5 col-sm-5 col-10" style="margin-top:1.4rem;">
                    <div class="card-body container" style="padding-left: 0; padding-right: 0;">
                        <div class="row">
                            <div class="d-flex align-items-center justify-content-center col-sm-2 col-2">
                                <button type="button"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"
                                        class="lift_navbar_btn1">
                                    <i class="fa-solid fa-bars lift_navbar_icon2"></i>
                                </button>
                            </div>
                            <div class="col mr-auto">
                                <div class="row ">
                                    <div id="input-group">

                                        <input
                                                type="search"
                                                class="form-control rounded autocomplete"
                                                id="startlocation"
                                                placeholder="Start"
                                                aria-label="Search"
                                                aria-describedby="search-addon"
                                        />
                                    </div>

                                </div>
                                <div class="row pt-3">
                                    <div class="input-group">
                                        <input
                                                type="search"
                                                class="form-control rounded"
                                                id="endlocation"
                                                placeholder="End"
                                                aria-label="Search"
                                                aria-describedby="search-addon"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center col-sm-2 col-2">
                                <button type="button" class="lift_navbar_btn1" id="searchbtn">
                                    <i class="fa-solid fa-magnifying-glass lift_navbar_icon"></i>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                 id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark w-100 h-100">
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="/index">
                            <img src="{% static '/logo1.svg' %}" alt="logo1" style="height:100%">
                        </a>
                    </div>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">
                                <i class="fa-regular fa-house bi me-2"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white" style="background: transparent ">
                                <i class="fa-solid fa-flask-vial bi me-2"></i>
                                TEST
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="drop down">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user rounded-circle me-2"></i>
                            <strong>ACCOUNT</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/signout">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="map" style="position:absolute; width: 100%; height: 100%; "></div>
            <div class="row">

                <div class="accordion position-fixed fixed-bottom mb-4 col-md-5 col-sm-5 col-10 mx-auto"
                     id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                             aria-labelledby="headingOne">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is shown by default,
                                until the collapse plugin adds the appropriate classes that we use to style each
                                element. These classes control the overall appearance, as well as the showing and
                                hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                our default variables. It's also worth noting that just about any HTML can go within
                                the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                                    data-mdb-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                Current Ride
                            </button>
                        </h2>

                    </div>

                </div>
            </div>
            <input type="hidden" name="" id="hiddenstart">
            <input type="hidden" name="" id="hiddenend">
        </form>

        <script>

            var latitude = 0;
            var longitude = 0;
            var map;
            mapboxgl.accessToken = "{{ mapbox_key }}";



        </script>
        <style>
            .ui-autocomplete {
                z-index: 1030;
            }
        </style>
    {% endif %}
    <script type="text/javascript" src="{% static 'js/lift.js' %}"></script>
    </body>
{% endblock content %}
