{% extends 'base/main.html' %}

{% block content %}
    <body>
    {% include 'base/navbar.html' %}
    {% if request.user.is_authenticated %}
        <form>
            {% csrf_token %}
            <button type="button" onclick="plot_route()">ROUTE BUTTON TEST</button>
        </form>
        <form>
            {% csrf_token %}
            <button type="button" onclick="select_pickup()">SELECT PICK UP TEST</button>
        </form>
        <div class="col-4">
        <input type="text" >
        </div>
        <div id='map' style='width: 1500px; height: 1000px;'></div>
        <script>
            mapboxgl.accessToken = '{{ mapbox_key }}';
            var map = new mapboxgl.Map({
                container: 'map',
                center: [103.84042953664608, 1.3593394625724913],
                zoom: 13, // starting zoom
                style: 'mapbox://styles/exkingist/cl0s7xq5v001i14n5vioj61u5'
            });

            function plot_route() {
                $.post(
                    '/plot_route/', {
                        reply: false,
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                    },
                    function (data) {
                        {#console.log(data['coordinates']);#}
                        map.addSource('route', {
                            'type': 'geojson',
                            'data': {
                                'type': 'Feature',
                                'properties': {},
                                'geometry': data
                            }
                        });

                        map.addLayer({
                            'id': 'route',
                            'type': 'line',
                            'source': 'route',
                            'layout': {
                                'line-join': 'round',
                                'line-cap': 'round'
                            },
                            'paint': {
                                'line-color': '#ee2323',
                                'line-width': 8
                            }
                        });
                    }
                );
            }


        </script>
        <script>
            function select_pickup() {
                $.ajax({
                        type: "POST",
                        url: "/select_pickup/",
                        data: {
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        },
                        success: function () {
                        //   $("#result").html("<h2>Received!</h2>");
                        },
                    });
                    }

                    
                
        </script>

    {% endif %}
    </body>
{% endblock content %}
