{% extends 'base/main.html' %}
{% load static %}
{% block content %}

    <body>

    {% if request.user.is_authenticated %}

        <form action="" method="POST" id="test">
            {% csrf_token %}


            <div class="row">
                <div class="card mx-auto fixed-top col-md-5 col-sm-5 col-10" style="margin-top:1.4rem;">
                    <div class="card-body container" style="padding-left: 0; padding-right: 0;">
                        <div class="row">
                            <div class="d-flex align-items-center justify-content-center col-sm-2 col-2">
                                <button type="button"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"
                                        class="lift_navbar_btn1">
                                    <i class="fa-solid fa-bars lift_navbar_icon2"></i>
                                </button>
                            </div>
                            <div class="col mr-auto">
                                <div class="row ">
                                    <div id="input-group">

                                        <input
                                                type="search"
                                                class="form-control rounded autocomplete"
                                                id="startlocation"
                                                placeholder="Start"
                                                aria-label="Search"
                                                aria-describedby="search-addon"
                                        />
                                    </div>

                                </div>
                                <div class="row pt-3">
                                    <div class="input-group">
                                        <input
                                                type="search"
                                                class="form-control rounded"
                                                id="endlocation"
                                                placeholder="End"
                                                aria-label="Search"
                                                aria-describedby="search-addon"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center col-sm-2 col-2">
                                <button type="button" class="lift_navbar_btn1" id="searchbtn">
                                    <i class="fa-solid fa-magnifying-glass lift_navbar_icon"></i>
                                </button>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="dropdown d-flex align-items-center justify-content-center ">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="typeofride"
                                        data-mdb-toggle="dropdown" aria-expanded="false" data-lift-ridetype="none">
                                    Type of Ride
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="typeofride" id="typeofridelist">
                                    <li>
                                        <button class="dropdown-item typechoice" type="button" id="fiveseaterchoice"><i
                                                class="fa-solid fa-car-side"
                                                style="font-size:2rem; padding-right: 3px"> </i>
                                            5 Seater
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item typechoice" type="button" id="eightseaterchoice">
                                            <span class="icon-carpool"></span>
                                            8
                                            Seater
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item typechoice" type="button" id="sharedchoice">
                                            <span class="icon-limousine-car"></span> Shared Ride
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                 id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark w-100 h-100">
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="/index">
                            <img src="{% static '/logo1.svg' %}" alt="logo1" style="height:100%">
                        </a>
                    </div>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">
                                <i class="fa-regular fa-house bi me-2"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/test" class="nav-link text-white" style="background: transparent ">
                                <i class="fa-solid fa-flask-vial bi me-2"></i>
                                TEST
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="drop down">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user rounded-circle me-2"></i>
                            <strong>ACCOUNT</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/signout">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="map" style="position:absolute; width: 100%; height: 100%; "></div>
            <div class="row">

                <div class="accordion position-fixed fixed-bottom mb-4 col-md-5 col-sm-5 col-10 mx-auto"
                     id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                             aria-labelledby="headingOne">
                            <div class="accordion-body">
                                <label for="driverId"><b>Driver Id</b></label>
                                <p></p>
                                <input
                                        name="driverId"
                                        id="driverId"
                                        readonly
                                        class="readonly"
                                />
                                <p></p>
                                <label for="dName"><b>Driver Name</b></label>
                                <p></p>
                                <input
                                        name="name"
                                        id="name"
                                        readonly
                                        class="readonly"
                                />
                                <p></p>
                                <label for="carplate"></label>
                                <input
                                        name="carplate"
                                        id="carplate"
                                        readonly
                                        class="readonly"
                                />
                                <p></p>
                                <label for="typeRide"><b>Type Of Ride</b></label>
                                <p></p>
                                <input
                                        name="typeRide"
                                        id="typeRide"
                                        readonly
                                        class="readonly"
                                />
                                {#                                <label for="rideprice"> Price of ride is</label>#}
                                {#                                <input#}
                                {#                                        type="text"#}
                                {#                                        id="price"#}
                                {#                                        name="rideprice"#}
                                {#                                        required#}
                                {#                                        minlength="4"#}
                                {#                                        maxlength="8"#}
                                {#                                        size="10"#}
                                {#                                        readonly#}
                                {#                                        class="readonly"#}
                                {#                                />#}
                                <button type="submit" class="btn" onclick="confirmEnd()">End Ride</button>
                            </div>
                        </div>
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                                    data-mdb-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                <div class="row" style="width:95%">

                                    <div class="col-md-9">
                                        Current Ride
                                    </div>

                                    <div class="col-md-3">
                                        <input class="disabled"
                                               style="border:none; width: 100%"
                                               id="price"
                                               name="rideprice"
                                               required
                                               minlength="4"
                                               maxlength="8"
                                               size="10"
                                               placeholder="RIDE PRICE" readonly/>
                                    </div>
                                </div>
                            </button>
                        </h2>

                    </div>

                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="faremodal" tabindex="-1" role="dialog"
                 aria-labelledby="faremodalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="faremodalLongTitle">Price Fare</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="farecontent" data-lift-fare="0">Price of fair </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="farecancel" data-dismiss="modal">
                                CANCEL
                            </button>
                            <button type="button" class="btn btn-primary" id="fareaccept">OK</button>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="" id="hiddenstart">
            <input type="hidden" name="" id="hiddenend">
        </form>

        <script>

            var latitude = 0;
            var longitude = 0;
            var map;
            mapboxgl.accessToken = "{{ mapbox_key }}";

            $(".typechoice").on('click', function () {
                console.log("TEST");
                if ($(this).attr('id') === "fiveseaterchoice") {
                    $("#typeofride").attr("data-lift-ridetype", "5 Seater");
                } else if ($(this).attr('id') === "eightseaterchoice") {
                    $("#typeofride").attr("data-lift-ridetype", "8 Seater");
                } else if ($(this).attr('id') === "sharedchoice") {
                    $("#typeofride").attr("data-lift-ridetype", "Shared Rides");
                }
                $("#typeofride").html($(this).html());
            });

            $("#searchbtn").click(function () {
                var startloc = $("#hiddenstart").val();
                var endloc = $("#hiddenend").val();
                $.ajax({
                    type: "POST",
                    url: "/getPrice/",
                    data: {
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        starting: startloc,
                        ending: endloc,
                        //price: $('input[name="rideprice"]').val(),
                    },
                    success: function (result) {
                        //   $("#result").html("<h2>Received!</h2>");
                        {#$("#price").val(result);#}
                        $("#farecontent").text("Price of Fare " + result + "\n Click confirm to confirm ride");
                        $("#farecontent").attr("data-lift-fare", result)
                        $('#faremodal').modal('show');
                    },
                });

            });
            $("#farecancel").click(function () {
                $('#faremodal').modal('hide');
            });
            $("#fareaccept").click(function () {
                var startloc = $("#hiddenstart").val();
                var endloc = $("#hiddenend").val();
                var fare = $("#farecontent").attr("data-lift-fare")
                console.log("Fareeee" + $("#typeofride").attr("data-lift-ridetype"));
                $.ajax({
                    type: "POST",
                    url: "/getInfo/",
                    data: {
                        reply:false,
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        starting: startloc,
                        ending: endloc,
                        typeOfRide: $("#typeofride").attr("data-lift-ridetype"),
                        pickUpTime: "Now",

                        //price: $('input[name="rideprice"]').val(),
                    }, success: function (result) {
                        getDriverDetails();
                        $('#faremodal').modal('hide');
                        $("#price").val(fare);

                    }
                });

            });


            function getDriverDetails() {
                $.ajax({
                    type: "POST",
                    url: "/findDriver/",
                    data: {
                        reply:false,
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        userId: "2",
                    },
                    success: function (result) {
                        $("#driverId").val(result[0]);
                        $("#name").val(result[1]);
                        $("#carplate").val(result[2]);
                        $("#typeRide").val(result[3]);
                        getRoute();
                    }
                })
            }


            function getRoute() {
                var startloc = $("#hiddenstart").val();
                var endloc = $("#hiddenend").val();
                $.ajax({
                    reply: false,
                    type: "POST",
                    url: "/bookingsearch/",
                    data: {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        starting: startloc,
                        ending: endloc,
                        //price: $('input[name="rideprice"]').val(),
                    },
                    success: function (data) {
                        var geojson = {
                            'type': 'FeatureCollection',
                            'features': [
                                {
                                    'type': 'Feature',
                                    'geometry': {
                                        'type': 'LineString',
                                        'coordinates': [data['coordinates'][0]]
                                    }
                                }
                            ]
                        };
                        map.addSource("route", {
                            'type': "geojson",
                            'data': geojson
                        });

                        map.addLayer({
                            id: "line-animation",
                            type: "line",
                            source: "route",
                            layout: {
                                "line-join": "round",
                                "line-cap": "round",
                            },
                            paint: {
                                "line-color": "#ee2323",
                                "line-width": 8,
                            },
                        });

                        animateLine();

                        function animateLine() {
                            // append new coordinates to the lineString
                            if (route_counter !== data['coordinates'].length) {
                                geojson.features[0].geometry.coordinates.push(data['coordinates'][route_counter]);
                                // then update the map
                                route_counter++;
                                map.getSource('route').setData(geojson);
                                // Request the next frame of the animation.
                                animation = requestAnimationFrame(animateLine);
                            }

                        }
                    },
                });
            }
        </script>
        <style>
            .ui-autocomplete {
                z-index: 1030;
            }

            .accordion-button:not(.collapsed) {
                background-color: white !important;
            }

        </style>
    {% endif %}
    <script type="text/javascript" src="{% static 'js/lift.js' %}"></script>
    </body>
{% endblock content %}
