{% extends 'base/main.html' %} {% block content %}

    <body>
    {% include 'base/navbar.html' %} {% if request.user.is_authenticated %}
        <!-- <form>
        {% csrf_token %}
        <button type="button" onclick="plot_route()">ROUTE BUTTON TEST</button>
    </form> -->
        <form action="" method="POST" id="test">
            {% csrf_token %}
            <div id="bookDetails">
                <a href="#" class="cancel">×</a>

            </div>
            <div id="cover"></div>
            <button type="button" onclick="plot_route()">PLOT ROUTE</button>
            <label for="startinglocation">Enter starting location here</label>
            <input
                    type="text"
                    id="startinglocation"
                    name="startinglocation"
                    required
                    minlength="4"
                    maxlength="8"
                    size="10"
                    class="bookdetails"
            />
            <p id="accept"></p>

            <label for="endinglocation">Enter ending location here</label>
            <input
                    type="text"
                    id="endinglocation"
                    name="endinglocation"
                    required
                    minlength="4"
                    maxlength="8"
                    size="10"
                    class="bookdetails"
            />

            <label for="rideprice"> Price of ride is</label>
            <input
                    type="text"
                    id="price"
                    name="rideprice"
                    required
                    minlength="4"
                    maxlength="8"
                    size="10"
                    readonly
                    class="readonly"
            />

            <dl id="typeOfRide" class="chooseRide">
                <dt><a href="#"><span class="black">Select Type Of Ride</span></a></dt>
                <dd>
                    <ul class="options">
                        <li><a href="#" class="black"><img src=".\static\images\5seater.png" alt=""/><span
                                class="value">5 Seater</span></a></li>
                        <li><a href="#" class="black"><img src=".\static\images\8seater.png" alt=""/><span
                                class="value">8 Seater</span></a></li>
                        <li><a href="#" class="black"><img src=".\static\images\share.png" alt=""/><span class="value">Shared Rides</span></a>
                        </li>

                    </ul>
                </dd>
            </dl>
            <span id="car"></span>

            <dl id="pickupTime" class="chooseTime">
                <dt><a href="#" class="black"><span>Select Pick Up Time</span></a></dt>
                <dd>
                    <ul class="options">
                        <li><a href="#" class="black"><img src=".\static\images\now.png" alt=""/><span
                                class="value">Now</span></a></li>
                        <li><a href="#" class="black"><img src=".\static\images\scheduled.png" alt=""/><span
                                class="value">Scheduled Ride</span></a></li>

                    </ul>
                </dd>
            </dl>
            <span id="time"></span>

            <form>
                {% csrf_token %}
                <button type="button" onclick="plot_route()">ROUTE BUTTON TEST</button>
            </form>
            <form>

                <a onclick="getPrice()" class="bookRide">Confirm Pickup</a>
            </form>

            <form>
                {% csrf_token %}
                <button type="button" onclick="select_pickup()">
                    MARKER TEST
                </button>
            </form>
            <div class="col-4">
                <input type="text"/>
            </div>
            <div id="map" style="width: 1500px; height: 1000px"></div>
        </form>
        <!-- <form>
          <button type="button" onclick="getInfo()">Get Ride Information</button>
        </form> -->
        <div id="result"></div>
        <div class="col-4">
            <input type="text"/>
        </div>
        <div id="map" style="width: 1500px; height: 750px"></div>
        <button class="open-button" onclick="openForm()">View Ride Details</button>

        <div class="form-popup" id="myDriver">
        <form action="Call for the end ride function" class="form-container">
             <!-- call end ride function using this form action -->

            <label for="driverId"><b>Driver Id</b></label>
            <p> </p>
            <input
                    name = "driverId"
                    placeholder="D1828211"
                    readonly
                    class="readonly"
            />
            <p> </p>
            <label for="dName"><b>Driver Name</b></label>
            <p> </p>
            <input
                    name = "dName"
                    placeholder="Koh Sye Loong"
                    readonly
                    class="readonly"
            />
            <p> </p>
            <button type="submit" class="btn">End Ride</button>
            <button type="button" class="btn minimise" onclick="closeForm()">Minimise</button>
        </form>
        </div>

        <script>
            const speedFactor = 30; // number of frames per longitude degree
            let animation; // to store and cancel the animation
            var route_counter = 1;
            mapboxgl.accessToken = "{{ mapbox_key }}";

            var map = new mapboxgl.Map({
                container: "map",
                pitch: 45,
                center: [103.84042953664608, 1.3593394625724913],
                zoom: 13, // starting zoom
                style: "mapbox://styles/exkingist/cl0s7xq5v001i14n5vioj61u5",
            });
            const geolocate = new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true,
                },
                trackUserLocation: true
            });
            map.addControl(geolocate);
            // Used to Get lat and longitude coordinates
            // TODO: USE THIS LOCATION when user press.
            geolocate.on('geolocate', function (position) {
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;
                $.ajax({
                    type: "GET",
                    url: "/findnearest/",
                    data: {
                        'lat': latitude,
                        'long': longitude
                    }, success: function (result) {
                        const data = JSON.parse(result["data"]);
                        console.log(data);
                        for (var i = 0; i < data.length; i++) {
                            var obj = data[i];

                            var marker = new mapboxgl.Marker()
                                .setLngLat([obj.long, obj.lat])
                                .setPopup(new mapboxgl.Popup().setHTML("<p>" + obj.id +"</p>"))
                                .addTo(map);
                        }
                    }
                });
                {#console.log('lat, lng', latitude, longitude);#}
            });
            // {##}
            // {#{% for point in pointlist %}#}
            // {#    {% if point.POSTALCODE != "NIL" and point.POSTALCODE|length %}#}
            // {##}
            // {#        var marker = new mapboxgl.Marker()#}
            // {#            .setLngLat([{{ point.long }}, {{ point.lat }}])#}
            // {#            .setPopup(new mapboxgl.Popup().setHTML("<p>{{ point.POSTALCODE }}</p>"))#}
            // {#            .addTo(map);#}
            // {#    {% endif %}#}
            // {#{% endfor %}#}


            map.on('load', () => {
                // Insert the layer beneath any symbol layer.
                const layers = map.getStyle().layers;
                const labelLayerId = layers.find(
                    (layer) => layer.type === 'symbol' && layer.layout['text-field']
                ).id;

                // The 'building' layer in the Mapbox Streets
                // vector tileset contains building height data
                // from OpenStreetMap.
                map.addLayer(
                    {
                        'id': 'add-3d-buildings',
                        'source': 'composite',
                        'source-layer': 'building',
                        'filter': ['==', 'extrude', 'true'],
                        'type': 'fill-extrusion',
                        'minzoom': 15,
                        'paint': {
                            'fill-extrusion-color': '#aaa',

                            // Use an 'interpolate' expression to
                            // add a smooth transition effect to
                            // the buildings as the user zooms in.
                            'fill-extrusion-height': [
                                'interpolate',
                                ['linear'],
                                ['zoom'],
                                15,
                                0,
                                15.05,
                                ['get', 'height']
                            ],
                            'fill-extrusion-base': [
                                'interpolate',
                                ['linear'],
                                ['zoom'],
                                15,
                                0,
                                15.05,
                                ['get', 'min_height']
                            ],
                            'fill-extrusion-opacity': 0.6
                        }
                    },
                    labelLayerId
                );


            });

            function plot_route() {
                $.post(
                    "/plot_route/",
                    {
                        reply: false,
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                    },
                    function (data) {
                        console.log(data['coordinates'].length);
                        var geojson = {
                            'type': 'FeatureCollection',
                            'features': [
                                {
                                    'type': 'Feature',
                                    'geometry': {
                                        'type': 'LineString',
                                        'coordinates': [data['coordinates'][0]]
                                    }
                                }
                            ]
                        };
                        map.addSource("route", {
                            'type': "geojson",
                            'data': geojson
                        });

                        map.addLayer({
                            id: "line-animation",
                            type: "line",
                            source: "route",
                            layout: {
                                "line-join": "round",
                                "line-cap": "round",
                            },
                            paint: {
                                "line-color": "#ee2323",
                                "line-width": 8,
                            },
                        });

                        animateLine();

                        function animateLine() {
                            // append new coordinates to the lineString
                            if (route_counter !== data['coordinates'].length) {
                                geojson.features[0].geometry.coordinates.push(data['coordinates'][route_counter]);
                                console.log(data['coordinates'][route_counter])
                                // then update the map
                                route_counter++;
                                map.getSource('route').setData(geojson);
                                // Request the next frame of the animation.
                                animation = requestAnimationFrame(animateLine);
                            }

                        }
                    }
                );
            }

            function getPrice() {
                $.ajax({
                    type: "POST",
                    url: "/getPrice/",
                    data: {
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        starting: $('input[name="startinglocation"]').val(),
                        ending: $('input[name="endinglocation"]').val(),

                        //price: $('input[name="rideprice"]').val(),
                    },
                    success: function (result) {
                        //   $("#result").html("<h2>Received!</h2>");
                        $("#price").val(result);

                        if (confirm("Price Of Fare " + result + "\n Click OK to confirm ride")) {
                            getInfo();
                        } else {

                        }
                        document.getElementById("accept").innerHTML = result;
                    },
                });
            }

            function getInfo() {
                //document.getElementById("rideprice").value = price;
                $.ajax({
                    type: "POST",
                    url: "/getInfo/",
                    data: {
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        starting: $('input[name="startinglocation"]').val(),
                        ending: $('input[name="endinglocation"]').val(),
                        typeOfRide: getSelectedValue("typeOfRide"),
                        pickUpTime: getSelectedValue("pickupTime"),

                        //price: $('input[name="rideprice"]').val(),
                    },
                });
            }

            function select_pickup() {
                $.ajax({
                    type: "POST",
                    url: "/select_pickup/",
                    data: {
                        csrfmiddlewaretoken: "{{csrf_token}}",
                    },
                    success: function () {
                        const startMarker = new mapboxgl.Marker({color: '#00FF00'})
                        const endMarker = new mapboxgl.Marker({color: '#FF0000'})
                        startLocation = [103.835297, 1.418378]
                        endLocation = [103.835397, 1.418378]
                        startMarker.setPopup(new mapboxgl.Popup().setHTML("<h1>Start</h1>"))
                        endMarker.setPopup(new mapboxgl.Popup().setHTML("<h1>End</h1>"))
                        startMarker.setLngLat(startLocation)
                        startMarker.addTo(map)
                        endMarker.setLngLat(endLocation)
                        endMarker.addTo(map)

                        const draggabbleMarker = new mapboxgl.Marker({draggable: true})
                        draggabbleMarker.setLngLat([103.835197, 1.418378])
                        draggabbleMarker.addTo(map);
                        draggabbleMarker.setPopup(new mapboxgl.Popup().setHTML("<h1>Draggable Marker</h1>"))
                        draggabbleMarker.togglePopup();

                        function onDragEnd() {
                            const lngLat = draggabbleMarker.getLngLat();
                            window.alert(`Longitude: ${lngLat.lng}, Latitude: ${lngLat.lat}`);
                            console.log(`Longitude: ${lngLat.lng}, Latitude: ${lngLat.lat}`);
                        }

                        draggabbleMarker.on('dragend', onDragEnd)
                        //   $("#result").html("<h2>Received!</h2>");
                    },
                });
            }

            $(".chooseRide dt a").click(function () {
                $(".chooseRide dd ul").toggle();
            });

            $(".chooseRide dd ul li a").click(function () {
                var text = $(this).html();
                $(".chooseRide dt a span").html(text);
                $(".chooseRide dd ul").hide();
                $("#car").html("Selected value is: " + getSelectedValue("typeOfRide"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("chooseRide"))
                    $(".chooseRide dd ul").hide();
            });


            $(".chooseTime dt a").click(function () {
                $(".chooseTime dd ul").toggle();
            });

            $(".chooseTime dd ul li a").click(function () {
                var text = $(this).html();
                $(".chooseTime dt a span").html(text);
                $(".chooseTime dd ul").hide();
                $("#time").html("Selected value is: " + getSelectedValue("pickupTime"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("chooseTime"))
                    $(".chooseTime dd ul").hide();
            });
            function openForm() {
            document.getElementById("myDriver").style.display = "block";
            }

            function closeForm() {
            document.getElementById("myDriver").style.display = "none";
            }

        </script>

    {% endif %}
    </body>
{% endblock content %}
